//Fonts
$Montserrat: 'Montserrat', sans-serif;

//Colors
$heavyblue: #424B54;
$lightblue: rgba(147,168,172,0.1);
$brandgreen: #00604D;
$brandblue: #002E40;
$lightwhite: #FDFDFE;
$modernblack: #1C2321;
$linkscolor: rgba(0,96,77,0.8);
$lightmodrnblack: rgba(27,27,30,0.5);