footer.Footer
	.row
		.CrName.col-md-6
			p.text-center Aguiar Enzo &copy 2018
		.FootLinks.col-md-6.text-center
			a(href="http://www.twitter.com/EnzoDarling")
				i.fab.fa-twitter
			a(href="https://www.linkedin.com/in/enzoaguiar/")
				i.fab.fa-linkedin-in
			a(href="https://github.com/EnzoDarling")
				i.fab.fa-github
script(src="../js/jquery-3.3.1.min.js")
script(src="../js/bootstrap.min.js")
script(src="../js/main.js")