head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-114899107-1")
    script(async src="https://www.google-analytics.com/analytics.js")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Kaushan+Script")
    link(rel="icon" href="../favicon.ico")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800")
    link(rel="stylesheet", href="../css/bootstrap.min.css")    
    link(rel="stylesheet", href="../vendor/font-awesome/css/fontawesome-all.min.css")
    link(rel="stylesheet", href="../css/style.css")
    title Enzo Aguiar | Analista de Sistemas | Desarrollador Web