nav.navbar.navbar-expand-md.navbar-light.bg-light.p-3
        a.navbar-brand(href="../index.html")
          img(src="../logo.svg", alt="", srcset="")
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarsExampleDefault.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href="#Proyectos")
                | Proyectos
                span.sr-only (current)
            li.nav-item
              a.nav-link(href="#SobreMi") Sobre Mi
            li.nav-item
              a.nav-link(href="#Contacto") Contacto