<!DOCTYPE html>
html(lang="en")
  include ../inc/header.pug
  body#page-top
    header
      include ../inc/nav.pug
    .container
      section.Project-Header
        h1.text-center.p-5 Sistema Masoterapéutico
        p El Sistema Masoterapéutico
    include ../inc/footer.pug