<!DOCTYPE html>
html(lang="en")
  include ../inc/header.pug
  body#page-top
    header
      include ../inc/nav.pug
    //- section.Project-Header
      //- h1 Sistema Masoterapéutico
      //- br
      //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nisi neque tempore nostrum debitis eos iusto cum repellendus, placeat voluptas reiciendis dolorem maxime minus ea excepturi laudantium quasi eaque cupiditate?
    include ../inc/footer.pug